.App {
  font-family: sans-serif;
  text-align: center;
}
header {
  background-color: #3b4d61;
}

img {
  max-width: 100%;
}

main {
  background-color: white;
  font-size: 175%;
}

footer {
  background-color: #3b4d61;
  text-align: center;
}

.abc {
  height: 600px;
  width: 600px;
}

#pelerinage h1 {
  text-align: center;
  color: red;
  font-size: 100%;
}

#pelerinage h2 {
  text-align: center;
  color: black;
  font-size: 100%;
}

#pelerinage h3 {
  color: black;
  font-size: 75%;
}

#pelerinage h4 {
  text-align: center;
  color: black;
  font-size: 100%;
}

#paragraphe {
  padding: 20px;
}

#annee {
  text-align: center;
  color: black;
  font-size: 100%;
}

#Poeme {
  text-align: center;
  color: black;
  font-size: 100%;
}

#poeme {
  padding: 30px;
}

#anneee {
  text-align: center;
  color: black;
  font-size: 100%;
}

.cure {
  height: 300px;
  width: 300px;
}

#contact {
  text-align: center;
  color: black;
  font-size: 100%;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#adhesion {
  text-align: center;
  color: black;
  font-size: 100%;
}

.menu {
  text-align: center;
  margin-top: 20px;
}


.menu .categorie {
  display: inline-block;
  vertical-align: top;
  background-color: #3b4d61;
  margin-right: 10px;
}

.menu .categorie h3 {
  color:white;
  width: 250px;
}

.menu .categorie ul {
  display: none;
  position: absolute;
  width: 250px;
  padding:0;
  margin: 0;
  list-style: none;
  background-color: #3b4d61;
}

.menu .categorie:hover ul {
  display: block;
}
.menu .categorie:hover h3 {
  text-shadow:2px 2px 2px black;
}
.menu .categorie li
{
  border-top: 1px solid white;
  color:#009c48;
  padding: 5px 0;
}
.menu .categorie a
{
  color : white;
  text-decoration : initial;
}

.po {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

